.button {
    box-shadow: rgba(16, 24, 40, 0.05) 0px 1px 2px 0px;
    border-radius: rem(8);
    border: rem(1) solid rgb(208, 213, 221);
    cursor: pointer;
    font-size: rem(16);
    font-weight: 600;
    text-align: center;
}

.primary {
    color: #fff;
    background: #156fee;
}

.secondary {
    color: #344054;
    background: #fff;
}